/* ===base styles== */
*{
  box-sizing:border-box;
}

h1 {
  font-family: 'Impact', serif;
  color: #245580;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 50px;
}

.container {
  position: relative;
}

p {
  background: url(white.jpg), no-repeat;
  border: 3px solid black;
  font-family: 'Trebuchet MS', sans-serif;
  color: Black;
  padding: 50px 20px 50px 20px;
  margin: 0 10px 30px 0;
  height: 150px;
}

.footer {
  clear: both;
  text-align: center;
}

#text_1{
  border: 0;
  position: absolute;
  right: 12px;
  top: 1px;
  margin: 0;
  padding: 10px;
  width: 100px;
  height: 45px;
  text-align: center;
  background: url(charcol.jpg);
  color: #DAA520;
  font-family: 'Montserrat', sans-serif;;
  font-weight: bold;
  font-size: 22px;

}
#text_2{
  border: 2px solid black;
  position: absolute;
  right: 10px;
  top:1px;
  margin: 0;
  padding: 10px;
  width: 100px;
  height: 45px;
  text-align: center;
  background: url(bamboo.jpg);
  color: #262626;
  font-weight: bold;
  font-family: Roboto, 'Arial', sans-serif;;
  font-size: 22px;

}
#text_3{
  border: 2px solid black;
  position: absolute;
  right: 10px;
  top: 1px;
  margin: 0;
  padding: 10px;
  width: 150px;
  height: 45px;
  text-align: center;
  background: url(red.jpg);
  color: #f8efc0;
  font-weight: bold;
  font-family: Roboto, 'Arial', sans-serif;
  font-size: 22px;
  float: right;
}

/*===== Responsive framework========*/
  @media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;


    margin-bottom: 0;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;

  }

  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}
